extends ../layouts/main.pug

block styles 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    main
        if errorMsg
            .user_msg.user_msg__error #{errorMsg}
        form.login-form(action="/login", method="POST")
            .form-control
                label(for="email") Email
                input(type="email", name="email", valuse=oldInput.email , class=validationErrors.find(err=>err.param === 'email')? 'invalid' : '')#email

                label(for="pw") Password
                input(type="password", name="pw",valuse=oldInput.pw , class=validationErrors.find(err=>err.param === 'pw')? 'invalid' : '')#pw
                div: small Forget your Password? <a href='/reset'>reset password</a>

                input(type="hidden", name="_csrf", value=csrfToken)
                
                button.btn.btn-danger(type="submit") Login 