extends ../layouts/main.pug

block styles 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if errorMsg
            .user_msg.user_msg__error #{errorMsg}
        form.product-form(action=editing?"/admin/edit-product":"/admin/add-product", method="POST", novalidate, enctype="multipart/form-data")
            .form-control
                label(for="title") Title
                input(
                    type="text",
                    name="title", 
                    value=editing || hasError ? product.title:'',
                    class=validationErrors.find(err=>err.param === 'title')? 'invalid' : ''
                    )#title

                label(for="img") Image URL
                input(
                    type="text", 
                    name="img", 
                    value=editing || hasError ? product.imgURL:'',
                    class=validationErrors.find(err=>err.param === 'img')? 'invalid' : ''
                    )#img
                //- input(
                //-     type="file", 
                //-     name="img",
                //-     )#img

                label(for="price") Price
                input(
                    type="number", 
                    name="price", 
                    step="0.01", 
                    value=editing || hasError ? product.price:'',
                    class=validationErrors.find(err=>err.param === 'price')? 'invalid' : ''
                    )#price

                label(for="description") Description
                textarea(
                    type="textarea", 
                    name="description", 
                    value=editing || hasError ? product.description :'',
                    class=validationErrors.find(err=>err.param === 'description')? 'invalid' : ''
                    )#description
                
                input(type="hidden", name="_csrf", value=csrfToken)

                if(editing)
                    input(type="hidden", name="productID", value=product._id)

            if (editing)
                button.btn(type="submit") Edit Product
            else
                button.btn(type="submit") Add Product